<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>
<ul>
    <% @events.each do |event| %>
        <li>
            <strong><%= event.name %></strong>
            in <%= event.location %>
            <%= number_to_currency(event.price, precision: 0) %>
        </li>
        <p>
            <%= event.description %>
        </p>
        <p>
            <%= event.starts_at %>
        </p>
    <% end %>
</ul>
